<ion-card>

  <ion-item>
    <h2>Lauste</h2>
    <p>16.03.2017</p>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar item-left>
          <img src="http://i.imgur.com/0gnLL2I.jpg?1">
        </ion-avatar>
        <div>+40</div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-avatar item-left>
          <img src="https://i.imgur.com/S9nDgYr.png">
        </ion-avatar>
        <div>-10</div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-avatar item-left>
          <img src="https://i.imgur.com/S9nDgYr.png">
        </ion-avatar>
        <div>-10</div>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-card>